<div class="register-content">
    <form class="form-register animated fadeIn" autocomplete="off" [formGroup]="registerForm" (ngSubmit)="register()">
        <h1 class="border-bottom tittle">Datos personales</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="inputFullName" class="form-label">Nombre completo</label>
                    <input type="text" class="form-control" id="inputFullName" placeholder="Nombre completo" formControlName="fullName" 
                        [class.is-invalid]="fullNameValidate"/>  
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="inputIdentification" class="form-label">Número de identificación</label>
                    <input type="text" class="form-control" id="inputIdentification" placeholder="Número de identificación" 
                        formControlName="identification" [class.is-invalid]="identificationValidate"/>  
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="inputCellphone" class="form-label">Número de celular</label>
                    <input type="text" class="form-control" id="inputCellphone" placeholder="Número de celular" formControlName="cellphone" 
                        [class.is-invalid]="cellphoneValidate"/>  
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="inputEmail" class="form-label">Correo electrónico</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="Correo electrónico" formControlName="email" 
                        [class.is-invalid]="emailValidate"/>  
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="Contraseña" formControlName="password" 
                        [class.is-invalid]="passwordValidate"/>  
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="inputPassword2" class="form-label">Repetir contraseña</label>
                    <input type="password" class="form-control" id="inputPassword2" placeholder="Repetir contraseña" formControlName="password2" 
                        [class.is-invalid]="password2Validate"/>  
                </div>
            </div>
        </div>
        <h1 class="border-bottom tittle">Datos de residencia</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="inputDepartment" class="form-label">Departamento</label>
                    <input type="text" class="form-control" id="inputDepartment" placeholder="Departamento" formControlName="department" 
                        [class.is-invalid]="departmentValidate"/>  
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="inputCity" class="form-label">Ciudad</label>
                    <input type="text" class="form-control" id="inputCity" placeholder="Ciudad" formControlName="city" 
                        [class.is-invalid]="cityValidate"/>  
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="inputNeighborhood" class="form-label">Barrio</label>
                    <input type="text" class="form-control" id="inputNeighborhood" placeholder="Barrio" formControlName="neighborhood" 
                        [class.is-invalid]="neighborhoodValidate"/>  
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="inputAddress" class="form-label">Dirección de residencia</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="Dirección de residencia" formControlName="address" 
                        [class.is-invalid]="addressValidate"/>  
                </div>
            </div>
        </div>
        <h1 class="border-bottom tittle">Datos financieros</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="inputSalary" class="form-label">Salario</label>
                    <input type="text" class="form-control" id="inputSalary" placeholder="Salario" formControlName="salary" 
                        [class.is-invalid]="salaryValidate"/>  
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="inputOtherIncome" class="form-label">Otros ingresos</label>
                    <input type="text" class="form-control" id="inputOtherIncome" placeholder="Otros ingresos" formControlName="otherIncome" 
                        [class.is-invalid]="otherIncomeValidate"/>  
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="inputMonthlyExpenses" class="form-label">Gastos mensuales</label>
                    <input type="text" class="form-control" id="inputMonthlyExpenses" placeholder="Gastos mensuales" 
                        formControlName="monthlyExpenses" [class.is-invalid]="monthlyExpensesValidate"/>  
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="inputFinancialExpenses" class="form-label">Gastos financieros</label>
                    <input type="text" class="form-control" id="inputFinancialExpenses" placeholder="Gastos financieros" 
                        formControlName="financialExpenses" [class.is-invalid]="financialExpensesValidate"/>  
                </div>
            </div>
        </div>
        <div class="buttons">
            <button type="submit" class="btn btn-lg btn-primary m-2" [disabled]="password2Validate">Registrar</button>
            <button type="submit" class="btn btn-lg btn-danger" [routerLink]="['/login']">Volver</button>
        </div>
    </form>
</div>