<div class="login-content">
    <form class="form-signin animated fadeIn border" autocomplete="off" [formGroup]="loginForm" (ngSubmit)="login()">
        <h1 class="h3 mb-3 font-weight-normal center">Login</h1>
        <label for="inputEmail">Correo electrónico</label>
        <input type="email" class="form-control mb-2" id="inputEmail" placeholder="Correo electrónico" formControlName="email" 
            [class.is-invalid]="emailValidate"/>
        <label for="inputPassword">Contraseña</label>
        <input type="password" class="form-control mb-3" id="inputPassword" placeholder="Contraseña" formControlName="password" 
            [class.is-invalid]="passwordValidate"/>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-lg btn-primary btn-block mb-2">Iniciar sesión</button>
            <button type="submit" class="btn btn-success mb-2" [routerLink]="['/register']">Crear cuenta nueva</button>                        
        </div>
    </form>
</div>