.center {
    text-align: center;
}

.login-content {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-signin {
    width: 100%;
    max-width: 350px;
    padding: 15px;
    margin: 0 auto;
    background-color: white;
}

.form-signin .form-control {
    height: 45px;
}