<div class="register-content">
    <form class="form-register animated fadeIn" [formGroup]="personForm">
        <h1 class="border-bottom tittle">Datos personales</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="inputFullName" class="form-label">Nombre completo</label>
                    <input type="text" class="form-control" id="inputFullName" placeholder="Nombre completo" formControlName="fullName"/>  
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="inputIdentification" class="form-label">Número de identificación</label>
                    <input type="text" class="form-control" id="inputIdentification" placeholder="Número de identificación" 
                        formControlName="identification"/>  
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="inputCellphone" class="form-label">Número de celular</label>
                    <input type="text" class="form-control" id="inputCellphone" placeholder="Número de celular" formControlName="cellphone"/>  
                </div>
            </div>
        </div>
        <h1 class="border-bottom tittle">Datos de residencia</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="inputDepartment" class="form-label">Departamento</label>
                    <input type="text" class="form-control" id="inputDepartment" placeholder="Departamento" formControlName="department"/>  
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="inputCity" class="form-label">Ciudad</label>
                    <input type="text" class="form-control" id="inputCity" placeholder="Ciudad" formControlName="city"/>  
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="inputNeighborhood" class="form-label">Barrio</label>
                    <input type="text" class="form-control" id="inputNeighborhood" placeholder="Barrio" formControlName="neighborhood"/>  
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="inputAddress" class="form-label">Dirección de residencia</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="Dirección de residencia" formControlName="address"/>  
                </div>
            </div>
        </div>
        <h1 class="border-bottom tittle">Datos financieros</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="inputSalary" class="form-label">Salario</label>
                    <input type="text" class="form-control" id="inputSalary" placeholder="Salario" formControlName="salary"/>  
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="inputOtherIncome" class="form-label">Otros ingresos</label>
                    <input type="text" class="form-control" id="inputOtherIncome" placeholder="Otros ingresos" formControlName="otherIncome"/>  
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="inputMonthlyExpenses" class="form-label">Gastos mensuales</label>
                    <input type="text" class="form-control" id="inputMonthlyExpenses" placeholder="Gastos mensuales" 
                        formControlName="monthlyExpenses"/>  
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="inputFinancialExpenses" class="form-label">Gastos financieros</label>
                    <input type="text" class="form-control" id="inputFinancialExpenses" placeholder="Gastos financieros" 
                        formControlName="financialExpenses"/>  
                </div>
            </div>
        </div>
    </form>
</div>