.tittle {
    text-align: center;
    background-color: #f5f5f5;
}

.register-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-register {
    width: 100%;
    max-width: 80%;
    padding: 15px;
    margin: 0 auto;
    background-color: white;
}